<h1>Hi <%= @username %></h1>
<p>AI Chat Messages: <%= @all_ai_messages %></p>
<p>Journal Entries: <%= @all_journal_entries %></p>
<p>Group Chat messages: <%= @all_user_chat_messages %> </p>
<p>Group Chat responses: <%= @all_user_chat_messages_responses  %> </p>
<p>Number of friends: <%= @friends_count %> </p>
<p>Number of encouragments sent: <%= @encouragements_sent_count %></p>
<p>Number of encouragments received: <%= @encouragements_received_count %></p>


<section class="hero-milestones">
  <div class="hero-milestones-coins">
    <div class="badge">
      <%= render "pages/milestones/content/sobriety_badge", user: current_user %>
    </div>
    <div class="tray">
      <%= render "pages/milestones/content/sobriety_tray",  user: current_user %>
    </div>
  </div>

  <div class="hero-milestones-times">
    <div class="time">
      <%= render "pages/milestones/milestones_countdown_next", user: current_user %>
    </div>
    <div class="celebrations">
      <%= render "pages/milestones/milestones_description", user: current_user %>
    </div>
  </div>


  <div class="hero-milestones-statistics">
    <div class="pie">
      <%= render "pages/milestones/milestones_pie_chart", pie_data: @pie_data %>
    </div>
    <div class="bar">
      <%= render "pages/milestones/milestones_bar_chart" %>
    </div>
  </div>

  <div class="hero-milestones-encouragements">
    <%= turbo_stream_from [current_user, :encouragements] %>

    <%= turbo_frame_tag "encouragement_chat" do %>
      <%= render "pages/milestones/milestones_encouragements",
                encouragements_all: @encouragements_all,
                encouragements: @encouragements,
                page: @page,
                total_pages: @total_pages,
                selected_sender: @selected_sender %>
    <% end %>
  </div>

</section>
