<% current_milestone = user.current_coin_milestone %>
<% next_milestone, target_time = user.next_coin_milestone_with_time || [] %>

<% if current_milestone.present? %>
  <section class="page-milestones__badge">
    <div class="sobriety-badge">
      <%# Background image (congratulations) %>
      <%= image_tag "aa_backgrounds/gratulationsbild.png",
                    class: "sobriety-badge__bg-img" %>

      <%# Coin centered on top %>
      <div class="sobriety-badge__coin">
        <%= image_tag "aa_coins/#{current_milestone[:file]}",
                      alt:  current_milestone[:name],
                      class: "sobriety-badge__coin-img" %>
      </div>

      <%# Text-Overlay (Label + Countdown) %>
      <div class="sobriety-badge__text">
        <p class="sobriety-badge__label">
          <strong><%= current_milestone[:name].upcase %></strong>
        </p>

        <% if next_milestone && target_time %>
          <p class="sobriety-badge__countdown"
             data-controller="countdown"
             data-countdown-target-time-value="<%= target_time.iso8601 %>">
            <span class="sobriety-badge__countdown-prefix">Next:</span>
            <span class="sobriety-badge__countdown-name"><%= next_milestone[:name] %></span>
            <span>in</span>
            <span data-countdown-target="output"></span>
          </p>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
