<div class="login-modal">

  <h2 class="login-title">Log in</h2>

  <div class="form-inputs">
    <%# If using username OR email login: %>
    <%= f.input :login, label: "Email or username", autofocus: true, input_html: { autocomplete: "username" } %>
    <%# Otherwise, use this instead:
    <%#= f.input :email, autofocus: true, input_html: { autocomplete: "email" } %>


    <%= f.error_notification %>

    <!-- Username / Email -->
    <div class="input-wrapper">
      <img src="<%= asset_path('icons/username.png') %>" class="input-icon">
      <%= f.input :login,
                  label: false,
                  placeholder: "Email or Username",
                  input_html: { class: "input-username" } %>
    </div>

    <!-- Password -->
    <div class="input-wrapper">
      <img src="<%= asset_path('icons/password.png') %>" class="input-icon">
      <%= f.input :password,
                  label: false,
                  placeholder: "Password",
                  input_html: { class: "input-password" } %>
    </div>

    <!-- Button -->
    <%= f.button :submit, "Log in", class: "button-login" %>

  <% end %>

  <!-- Forgot -->
  <%= link_to "Forgot your password?", new_user_password_path, class: "forgot-password" %>

  <!-- Create account -->
  <%= link_to "Create account", new_user_registration_path, class: "create-account" %>

</div>
