<div class="login-modal">

  <h2 class="login-title">Log in</h2>

  <%= simple_form_for(resource,
                      as: resource_name,
                      url: session_path(resource_name)) do |f| %>

    <div class="form-inputs">
      <%= f.error_notification %>

      <%# Wenn du Username ODER Email als Login verwendest: %>
      <%#   Attribut :login muss im User-Modell existieren (z.B. via attr_accessor :login) %>

      <!-- Username / Email -->
      <div class="input-wrapper">
        <img src="<%= asset_path('icons/username.png') %>" class="input-icon">
        <%= f.input :login,
                    label: false,
                    placeholder: "Email or Username",
                    input_html: {
                      class: "input-username",
                      autocomplete: "username"
                    } %>
      </div>

      <!-- Password -->
      <div class="input-wrapper">
        <img src="<%= asset_path('icons/password.png') %>" class="input-icon">
        <%= f.input :password,
                    label: false,
                    placeholder: "Password",
                    input_html: {
                      class: "input-password",
                      autocomplete: "current-password"
                    } %>
      </div>

      <!-- Button -->
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "button-login" %>
      </div>
    </div>

  <% end %>

  <!-- Forgot -->
  <%= link_to "Forgot your password?", new_user_password_path, class: "forgot-password" %>

  <!-- Create account -->
  <%= link_to "Create account", new_user_registration_path, class: "create-account" %>

</div>
