<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)
                    # , html: { data: { turbo: false } } # uncomment for Rails 7 Turbo issues
                    ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# If using username OR email login: %>
    <%= f.input :login, label: "Email or username", autofocus: true, input_html: { autocomplete: "username" } %>
    <%# Otherwise, use this instead:
    <%#= f.input :email, autofocus: true, input_html: { autocomplete: "email" } %>


    <%= f.input :password, required: true, input_html: { autocomplete: "current-password" } %>

    <% if devise_mapping.rememberable? %>
      <%= f.input :remember_me, as: :boolean %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
