<turbo-frame id="message_thread">
  <div class="message-thread" data-controller="message-thread">
    <button
      type="button"
      class="message-thread__close"
      data-action="click->message-thread#close"
      aria-label="Close conversation">
      &times;
    </button>

    <!-- scrolling content -->
    <div class="message-thread__content">
      <div class="message-thread__header">
        <div class="message-thread__author-avatar">
          <%= @user_chat_message.user.username.to_s.first.upcase %>
        </div>
        <div class="message-thread__meta">
          <p class="message-thread__author"><%= @user_chat_message.user.username %></p>
          <p class="message-thread__timestamp"><%= l @user_chat_message.created_at, format: :short %></p>
        </div>
      </div>

      <div class="message-thread__body">
        <%= simple_format(@user_chat_message.message_content) %>
      </div>

      <div class="message-thread__comments">
        <h3 class="message-thread__comments-title">Comments</h3>

        <% if @user_chat_message.user_chat_messages_responses.any? %>
          <ul class="message-thread__comments-list">
            <% @user_chat_message.user_chat_messages_responses.includes(:user).order(:created_at).each do |response| %>
              <li class="message-thread__comment">
                <p class="message-thread__comment-author"><%= response.user.username %></p>
                <p class="message-thread__comment-body"><%= simple_format(response.message_content) %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="message-thread__no-comments">No comments yet. Be the first to respond.</p>
        <% end %>
      </div>
    </div>

    <!-- fixed at bottom of panel -->
    <div class="message-thread__form">
      <%= simple_form_for UserChatMessagesResponse.new, url: user_chat_messages_responses_path do |f| %>
        <%= f.hidden_field :user_chat_message_id, value: @user_chat_message.id %>
        <div class="form-floating mb-2">
          <%= f.input :message_content, as: :text, label: false, wrapper: false, input_html: { rows: 3, placeholder: "Add a comment..." } %>
          <%= f.label :message_content, "Add a comment" %>
        </div>
        <%= f.submit "Post comment", class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>
</turbo-frame>
