<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Open Graph meta tags (required by your test) -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <% unless current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
