<!DOCTYPE html>
<html>
  <head>
    <title>SoberPath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'favicon-16x16.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="48x48" href="<%= asset_path 'favicon-48x48.png' %>">
    <link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon.png' %>">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <% unless current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
